<div class="box nav">
  <div class="stack">
    <div class="nav-layout">
      <div class="nav-items">
        <div class="stack nav-section">
          <h1><a href="/">Home</a></h1>
        </div>
        <div class="stack nav-section">
          <h3><a href="/archive.html">Blog Posts</a></h3>
        </div>
        <div class="stack nav-section">
          <a href="/things/weltanschauung.html">Weltanschauung</a>
        </div>
        <div class="stack nav-section">
          <a href="/things/books.html">Books</a>
        </div>
        <div class="stack nav-section">
          <a href="/things/courses.html">Courses</a>
        </div>
        <div class="stack nav-section">
          <a href="/things/publications.html">Publications</a>
        </div>
        <div class="stack nav-section">
          <a href="/things/notes.html">Notes</a>
        </div>
        <div class="stack nav-section">
          <a href="/things/politics.html">Politics</a>
        </div>
        <div class="stack nav-section">
          <a href="/things/places.html">Places</a>
        </div>
        <div class="stack nav-section">
          <a href="/things/stats.html">Statistics</a>
        </div>
        <div class="stack nav-section">
          <a href="/things/bio.html">Bioinformatics</a>
        </div>
        <div class="nav-section">
          <a href="https://www.twitter.com/hcndashwood">Twitter</a>
        </div>
        <div class="nav-section">
          <a href="https://www.linkedin.com/in/henry-dashwood-42497969/"
            >LinkedIn</a
          >
        </div>
        <div class="nav-section">
          <a href="https://www.github.com/HenryDashwood">Github</a>
        </div>
      </div>
    </div>
  </div>
</div>
